<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b55de8fc-7816-49a7-99a2-2fa29a834772/resourceGroups/Todo/providers/Microsoft.Web/sites/TodoNoti</ResourceId>
    <ResourceGroup>Todo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todonoti.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4f284723-aebf-4c5a-9355-ceb2e32280c9</ProjectGuid>
    <PublishUrl>https://todonoti.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TodoNoti</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>